@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --light-grey: hsl(212, 45%, 89%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--light-grey);
    padding: 1em;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
}

.challenge__container__items {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.challenge__container__items__item {
    list-style-type: none;
    padding: 1em;
    border-radius: 8px;
    border: 2px solid var(--dark-blue);
    transition: transform 1s;
    text-decoration: none;
    
}

.challenge__container__items__item {
    color: var(--dark-blue);
}

.challenge__container__items__item:hover {
    background-color: var(--dark-blue);
    box-shadow: 8px 8px rgb(173, 216, 230, .8);
    transform: translate(-20px, -5px);
    color: var(--light-grey);
}