@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url(../social-links-profile-main/assets/fonts/static/Inter-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url(../social-links-profile-main/assets/fonts/static/Inter-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url(../social-links-profile-main/assets/fonts/static/Inter-Regular.ttf) format('truetype');
}

:root {
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
    --green: #CAE76D;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--off-black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile__card {
    background-color: var(--dark-grey);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 1.5em;
    margin: 1.5em;
    text-align: center;
}

.profile__card img {
    width: 30%;
    border-radius: 50%;
}

.profile__card h1 {
    color: var(--white);
    font-size: 1.8em;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.profile__card h2 {
    color: var(--green);
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.profile__card strong {
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: .875em;
}

.profile__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: .875em;
}

.profile__links a {
    box-sizing: border-box;
    background-color: var(--grey);
    width: 100%;
    padding: 1em;
    color: var(--white);
    border-radius: 8px;
    text-decoration: none;
}

.profile__links a:hover{
    background-color: var(--green);
    color: black;
}