@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: 322, 100%, 66%;

    --very-pale-cyan: 193, 100%, 96%;
    --very-dark-cyan: 192, 100%, 9%;
    --grayish-blue: 208, 11%, 55%;
}

a {
    text-decoration: wavy;
    color: white;
}

/* INITIAL CONFIGS */
body {
    font-size: 1.125rem;
}

body header {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

body main,
footer {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}


/* HEADER */
header {
    background-color: hsl(var(--very-pale-cyan));
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(./images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.app-bar {
    display: flex;
    padding: 1.5em 1em;
    justify-content: space-between;
}

.app-bar img {
    height: 16px;
    width: auto;
}

.btn-sign-course--small {
    font-size: .575em;
    color: black;
}

.btn-sign-course--small strong {
    padding: .3em 2em;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

/* PRESENTATION SECITON */
.intro {
    height: calc((100vh - 3em) - 16px);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.intro h1 {
    font-size: 1.38em;
}

.intro p {
    font-size: .875em;
}

.btn-sign-course {
    background-color: hsl(var(--primary));
    padding: 1em 5.125em;
    font-size: .75rem;
    border-radius: 20px;
    font-weight: 600;
    letter-spacing: .3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    display: inline-block;
}

.intro__content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-bottom: 10px;
}

.illustration {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0 0 0;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    border-radius: 16px;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
    margin: 2em 1em 0 1em;
}

.card h2 {
    color: hsl(var(--very-dark-cyan));
    font-size: 1.125em;
    margin-top: 2em;
}

.card p {
    color: hsl(var(--grayish-blue));
    font-size: .75em;
    letter-spacing: .3px;
    line-height: 1.5em;
}

.card img {
    width: 95%;
}

.card--small {
    width: 95%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    border-radius: 16px;
    padding: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    text-align: center;
    margin-top: 6em;
    margin-bottom: -50px;
    background-color: white;
}

.card--small h3 {
    font-size: 1em;
    font-weight: 700;
}

main>div {
    height: 100px;
    background-color: hsl(var(--very-dark-cyan));
    width: 100%;
    z-index: -1;
}

/* FOOTER */
footer {
    background-color: hsl(var(--very-dark-cyan));
    padding: 2rem 2rem 2rem 2rem;
}

.contact--info>img {
    margin-bottom: 1em;
    height: 28px;
    filter: invert(48%) sepia(79%) saturate(0%) hue-rotate(86deg) brightness(150%) contrast(119%);
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
    font-size: .95em;
}

footer ul li {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

footer section {
    margin-bottom: 2em;
}

.contact--medias ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2em;
}

.contact--medias ul li {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: solid 1px white;
    padding: 5px;
}


.contact--medias img {
    width: 100%;
    padding: 3px;
    filter: invert(48%) sepia(79%) saturate(0%) hue-rotate(86deg) brightness(150%) contrast(119%);
}

.contact--medias p {
    text-align: center;
    font-size: .8rem;
    color: white;
    margin-top: 2em;
}

.btn-sign-course:hover {
    background-color: hsla(var(--primary), .8);
}

.contact--about ul:first-of-type {
    margin-bottom: 1em;
}

.contact--about__link:hover {
    text-decoration: underline;
}

.contact--medias ul li:hover {
    border: solid 1px hsl(var(--primary));
}

.contact--medias img:hover {
    filter: invert(48%) sepia(79%) saturate(0%) hue-rotate(86deg) brightness(150%) contrast(119%);
}

@media (min-width: 460px) {
    .illustration {
        max-width: 400px;
    }
}

@media(min-width: 900px) {

    main .illustration {
        max-width: 250px;
    }

    header {
        height: 500px;
        justify-content: center;
    }

    .app-bar,
    .intro {
        margin: 0 4em;
    }

    .intro {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        column-gap: 2em;
    }

    .intro .illustration {
        align-self: center;
        justify-self: center;
        width: 100%;
    }

    .intro__content {
        align-items: start;
        text-align: start;
    }

    .card {
        max-width: 900px;
        padding: 2em 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5em;
    }

    .card:first-child,
    .card:nth-child(3) {
        flex-direction: row-reverse;
    }

    .card:nth-child(2) {
        flex-direction: row;
    }

    .card__content {
        text-align: start;
    }

    .card__content h2 {
        margin-bottom: 1em;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1em;
    }

    .contact--about{
        display: flex;
        justify-content: space-around;
        align-self: center;
    }

    .contact--medias{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


}